:root{
    --fs-primary-550 : 2.5rem;
    --fs-primary-500 : 2rem;
    --fs-primary-450 : 1.5rem;
    --fs-primary-410 : 1.2rem;
    --fs-primary-400 : 1rem;
    --fs-primary-390 : 0.9rem;
    --fs-primary-380 : 0.8rem;

}