:root{
    --clr-primary-text : hsl(238, 29%, 16%) ;
    --clr-soft-red : hsl(14, 88%, 65%);
    --clr-Vdark-grayish-blue : hsl(237, 12%, 33%);
    --clr-dark-grayish-blue : hsl(240, 6%, 50%);
    --clr-dividers : hsl(240, 5%, 91%);
  
    --clr-background-body-gradient  : linear-gradient(to bottom, hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    --clr-background-card : hsl(0, 0%, 100%);
}